.title-text {
    font: normal bold 50px/72px var(--poppins);
}

.text-uppercase {
    text-transform: uppercase;
}

.section-title {
    width: 100%;
    text-align: left;
    justify-self: start;
    grid-column: 1 / -1;
    letter-spacing: 21px;
    color: var(--title-color);
    font: normal 500 49px/60px var(--poppins);
}

@media screen and (max-width: 460px) {
    .section-title {
        letter-spacing: 25px;
        font: normal 500 25px var(--poppins);
    }
}

@media screen and (max-width: 360px) {
    .section-title {
        letter-spacing: 20px;
        font: normal 500 20px var(--poppins);
    }
}

.btn {
    padding: .8rem 2.2rem;
    font: normal 500 16px/20px var(--poppins);
    color: var(--title-color);
    position: relative;
    border: 3px solid var(--primary-color);
    border-radius: 8px;
    z-index: 1;
    overflow: hidden;
}

.btn.primary-button {
    background: var(--primary-color);
    background-clip: padding-box;
    color: var(--title-color);
    transition: background .6s ease, color .6s ease;
}

.btn.primary-button:hover {
    /* color: var(--primary-color); */
    background: var(--primary-color);
}

.btn.primary-button::after {
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    z-index: -2;
}

.btn.primary-button::before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    background: var(--background);
    z-index: -1;
    opacity: 0;
    transition: opacity .6s ease;
}

.btn.primary-button:hover::before {
    opacity: 1;
}

.btn.secondary-button {
    background-clip: padding-box;
    transition: background .6s ease, color .6s ease;
}

.btn.secondary-button:hover {
    color: var(--primary-color);
}

p.para {
    color: var(--text-color);
    font: normal 500 16px/25px var(--poppins);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

/* Common container style for both sections */
.common-container {
    /* display: grid; */
    /* place-items: center; */
    padding: 0 10vw;
}