html,
body {
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/* CSS Variables */

:root {
    
    /* Blue #075fe4 filter: brightness(0) saturate(100%) invert(86%) sepia(67%) saturate(2%) hue-rotate(298deg) brightness(117%) contrast(100%);*/
    /* Red #EA2027 filter: brightness(0) saturate(100%) invert(16%) sepia(84%) saturate(5340%) hue-rotate(350deg) brightness(94%) contrast(91%);*/ 
    /* Orange #EE5A24 filter: brightness(0) saturate(100%) invert(41%) sepia(51%) saturate(1118%) hue-rotate(338deg) brightness(100%) contrast(101%);*/
    /* Green #009432 filter: brightness(0) saturate(100%) invert(29%) sepia(97%) saturate(1840%) hue-rotate(128deg) brightness(90%) contrast(101%);*/
    /* Yellow #FFC312 filter: brightness(0) saturate(100%) invert(76%) sepia(73%) saturate(784%) hue-rotate(344deg) brightness(100%) contrast(103%);*/

    --primary-color: #075fe4;
    --background: #1b1f24;
    --background-secondary: #16191d;
    --title-color: #FFFFFF;
    --text-color: #808080;
    --border-color: #075fe4;
    --gradient-color: linear-gradient(90deg, #075fe4 0%, #1CD8D2 100%);
    --shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
    --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);


    /* Languages */
    --kotlin: #a97bff;
    --java: #b07219;
    --dart: #00b4ab;

    /* Font family variables */
    --poppins: 'Poppins', cursive;
}